[defaults]
inventory = ./inventories/localhost.ini
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
stdout_callback = yaml
interpreter_python = auto_silent
retry_files_enabled = False

